<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cursojava.appautonomo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/orca_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppAutonomo">
        <activity android:name = ".suppliers_management.CreateSupplierActivity"/>
        <activity android:name=".clients_management.CreateClientActivity"></activity>
        <activity android:name=".Options"></activity>
        <activity android:name=".clients_management.ClientsActivity"/>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".products_management.CreateProductActivity" />
        <activity android:name=".products_management.ProductsActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>